mock==2.0.0
pytest==3.5.0
pytest-flake8
pytest-cov==2.5.1
falcon==2.0.0; python_version<"3.0"
falcon==3.0.0; python_version>="3.0"
flask
django==2.2.18; python_version>="3.0"
requests==2.22.0
responses==0.10.12
webob
strict-rfc3339==0.7
